[Desktop Entry]
Encoding=UTF-8
Name=NV
Comment=NV P2P Cryptocurrency
Exec=nv-qt %u
Terminal=false
Type=Application
Icon=nv128
MimeType=x-scheme-handler/nv;
Categories=Office;Finance;
Name[en_US]=nv-qt.desktop
