[Unit]
Description=NV's distributed currency daemon
After=network.target

[Service]
User=nv
Group=nv

Type=forking
PIDFile=/var/lib/nvd/nvd.pid

ExecStart=/usr/bin/nvd -daemon -pid=/var/lib/nvd/nvd.pid \
          -conf=/etc/nv/nv.conf -datadir=/var/lib/nvd

ExecStop=-/usr/bin/nv-cli -conf=/etc/nv/nv.conf \
         -datadir=/var/lib/nvd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
